body{
    background-color: rgb(248, 245, 245);
}
a{
    text-align: center;

}
li{
    float: left;
}
li a{
    display: block;
    color:bisque;
    text-align: center;
    padding: 10px 65px;
    text-decoration: none;
    background-color: rgb(41, 67, 121);
}
li :hover{
    color: black;
}
div img{
    float: left;
}
h1{
    text-align: center;
    color: rgb(41, 67, 121) ;
}
h2{
    text-align: center;
    color:rgb(41, 67, 121) ;
    text-align: ;
}